/* Style Written for Genesys Demo Forms - Both Patient Entry as well as  */

@import url("https://fonts.googleapis.com/css?family=Arimo");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
    align-items: center;
    background-color: #33383c;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 550px;
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: #ff4f1f;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b;
}


.actionbuttons {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 12px;
    height: 25px;
    margin-top: 0px;
    text-align: center;
    width: 30%;
}

.actionbuttons:active {
    background-color: #06b;
}

.resultlink:link {
    font-family: Montserrat;
    color: #69b1e6;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
}

.resultlink:hover {
    color: #affbda;
}

.pillow {
    padding: 10px;
}
