@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


body {
  padding: 15px;
  background: #33383c;
  font-family: "Montserrat", sans-serif;
  text-align:  center;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #0b607b;
}

.vidstage {
 width: 98%;


}

/*.mediastream {
max-height: 540px;
}*/

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* Rectangular Power Button */

.button {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #ececec;
  text-decoration: none;
  color: #666;
}

/* Trim Style of Button */

.trim {
  display: inline-block;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.trim:before {
  content: '';
  position: absolute;
  border: white solid 4px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: opacity;
}
.trim:hover:before {
  opacity: 1;
}


/* Circular Power Button

 body{
  background: #ec8e6b;
  padding-top: 100px;
  font-family: Arial, Helvetica, Sans-serif;
  text-align: center;
} 

#power-text{
  color: #2a2a2a;
  text-shadow: 0 1px 0 #ffba92;
}

#btn-bg{
  width: 42px;
  height: 42px;
  background: #cdd3c9;
  border-radius: 21px;
  margin: 0 auto 10px;
  border-bottom: 2px solid #2a2a2a;
  border-top: 2px solid #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

#btn-bg.active{
  background: #2d3036;
  border-bottom: 2px solid #ffcab6;
  border-top: 2px solid #e66847;
}

#btn-highlight{
  width: 21px;
  height: 42px;
  background: #eee;
  margin-left: 21px;
}

.active #btn-highlight{
  background: #52555d;
}

#btn-ring{
  position: absolute;
  width: 21px;
  height: 21px;
  border: 5px solid #2a2a2a;
  top: 5px;
  left: 5px;
  border-radius: 16px;
}

.active #btn-ring{
  border-color: #61fc8c; 
}

#ring-line{
  width: 5px;
  height: 21px;
  margin: -7px auto;
  background: #2a2a2a;
  border-radius: 7px;
  border-right: 3px solid #eee;
  border-left: 3px solid #cdd3c9;
}

.active #ring-line{
  background: #61fc8c;
  border-right: 3px solid #52555d;
  border-left: 3px solid #2d3036;
} */